<h1>Event</h1>
<div>
  <p><%= @event.title %></p>
  <p>Created by: <%= @event.creator.name %></p>
  <p><%= @event.location %></p>
  <p><%= @event.date %></p>
</div>

<div>
  <p>Attendees: </p>
  <ul>
    <% attendees.each do |attendee| %>
      <li><%= attendee.user.name %> | <%= attendee.user.email %></li>
    <% end %>
  </ul>
</div>