<h1>Event</h1>
<div>
  <h1><%= @event.title %></h2>
  <h3>Created by: <%= @event.creator.name %></h3>
  <p><%= @event.location %></p>
  <p><%= @event.date %></p>
</div>

<div>
  <p>Attendees: </p>
  <ul>
    <% @event.attendees. each do |attendee| %>
      <li>
        <%= link_to(attendee.name, user_path(attendee)) %> 
        <% if logged_in? and attendee == current_user %>
          <span class="has-text-grey">(you)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
